@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*
{
  font-family: 'Poppins';
  margin: 0;
  color: gray;
}
.image
{
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
}
span{
  font-weight: 100;
}

a
{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 30px;
}
.line
{
  display: flex;
}

button
{
  cursor: pointer;
  padding: 3%;
  width: 70%;
  border-radius: 15px;
  border: none;
}

/*Font Size*/
h1
{
  font-size: 40px;
}
h2, a
{
  font-size: 30px;
}
h3,h4
{
  font-size: 28px;
}
h5,h6
{
  font-size: 23px;
}
p,b
{
  font-size: 17px;
}
button
{
  font-size: 15px;
}

.primaryButton
{
  color: white;
}


/***************Desktop Header***********************/
.DesktopHeader
{
  text-align: center;
  padding: 2% 32%;
  background-color: #04BA56;
}
.Header h1, span
{
  color: white;
}
.MobileHeader
{
  box-shadow: 5px 5px 6px 2px rgba(119, 119, 119, 0.315);
}

.DesktopHeader{
  display: flex;
}
.MobileHeader
{
  display: none;
}
.MobileView
{
  display: none;
}
.DesktopView
{
  display: block;
}
/*********Administration button*********/
.adminPanel
{
  display: flex;
}
button
{
  width: 30%;
}
.column{
  width: 30%;
  margin-top: 2%;
  padding: 0 2%;
}
.adminButton
{
  background-color: #04BA56;
}
input, select
{
  padding: 1%;
  width: 90%;
}
.line select
{
  margin-top: 5%;
  width: 50%;
}
.left, .right
{
  display: flex;
  align-items: center;
  width: 40%;
}
.line p
{
  margin-right: 5%;
}
p
{
  margin-top: 5%;
}
#ID
{
  margin-top: 1%;
  margin-bottom: 5%;
}
button
{
  width: 50%;
  margin-top: 5%;
  margin-bottom: 9%;
}

@media (max-width: 500px) {
  .DesktopHeader{
    display: none;
  }
  .MobileHeader
  {
    display: block;
  }
  .MobileView
  {
    display: block;
  }
  .DesktopView
  {
    display: none;
  }
}


/********Media queries*******/

@media (max-width: 1500px) {
  /*Font Size*/
  h1
  {
    font-size: 35px;
  }
  h2,a
  {
    font-size: 25px;
  }
  h3,h4
  {
    font-size: 17px;
  }
  h5,h6
  {
    font-size: 17px;
  }
  p,b
  {
    font-size: 12px;
  }
  button
  {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  /*Font Size*/
  h1
  {
    font-size: 33px;
  }
  h2,a
  {
    font-size: 23px;
  }
  h3,h4
  {
    font-size: 15px;
  }
  h5,h6
  {
    font-size: 15px;
  }
  p,b
  {
    font-size: 11px;
  }
  button
  {
    font-size: 11px;
  }
}
@media (max-width: 800px) {
  /*Font Size*/
  h1
  {
    font-size: 25px;
  }
  h2,a
  {
    font-size: 15px;
  }
  h3,h4
  {
    font-size: 15px;
  }
  h5,h6
  {
    font-size: 15px;
  }
  p,b
  {
    font-size: 9.5px;
  }
  button
  {
    font-size: 9.5px;
  }
}